# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.env

# VS Code
.vscode/

# Node (already in frontend, but good to have here too if matched)
node_modules/
.next/
out/
build/
